# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# don't track .emacs.d - it's a separate git project
.emacs.d

# don't track emacs-local (win) / .emacs-local (linux, mac)
# that dir contains elpa, recentf, saveplace, bookmarks, ...
emacs-local
.emacs-local
emacs-local.old
.emacs-local.old

# don't track AppData/Local/Microsoft
AppData/Local/Microsoft

# don't track the emacs binary folder, 
# the dir looks like emacs-25.3-i686
emacs-2*

# don't track various init files
WinSCP.ini
DontSleep_p.ini
DontSleep_x64_p.ini


# no archive files
*.zip
*.7z
*.rar
*.tar.gz
*.tar.bz2

# pandoc is too large for github > 100 MB
# therefore ignore local installation
# and add only the zip file that must be extracted manually
# in that directory
tools/pandoc/*
!tools/pandoc/*.zip